<script lang="ts">
  import type { IProjectConfig } from "../../projectsConfig.d";
  import Grow from "../../utils/Grow.svelte";
  export let props: IProjectConfig;

  const { src, alt, title, description, tech, projectLink = "" } = props;

  const clickImage = () => {
    if (projectLink) {
      window.open(projectLink, "_blank");
    }
  };
</script>

<main>
  {#if projectLink === ""}
    <img {src} class="project-image" {alt} />
  {:else}
    <Grow scaleAmount={1.1}>
      <img
        on:click={clickImage}
        {src}
        class="project-image"
        {alt}
        style="cursor: pointer;"
      />
    </Grow>
  {/if}

  <div class="project-content">
    <b>{title}:</b>
    <div>
      {description}
    </div>
    <div class="tech-list">
      {#each tech as name}
        <div>{name}</div>
      {/each}
    </div>
  </div>
</main>

<style lang="scss">
  @use "src/global.scss";
  @import url("https://fonts.googleapis.com/css2?family=M+PLUS+2&family=Oswald:wght@300;400;700&display=swap");
  main {
    display: flex;
    max-width: 900px;
    gap: 2rem;
    font-family: "M PLUS 2", sans-serif;
    font-weight: 300;
    align-items: center;

    @media screen and (max-width: global.$phone) {
      flex-direction: column;
    }
  }

  .project-image {
    max-width: 528px;
    height: auto;

    @media screen and (max-width: global.$phone) {
      width: 100%;
    }
  }

  .project-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  b {
    font-size: larger;
    margin-bottom: 1rem;
  }

  .tech-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 16px;
    color: global.$secondary;
  }
</style>
