<script>
  const SMALL_STARS = 700;
  const MED_STARS = 200;
  const BIG_STARS = 100;

  let screenWidth = 0;
  let screenHeight = 0;

  const createShadow = (width = 0, height = 0, blur = 1) =>
    `${Math.random() * width}px ${Math.random() * height}px  #FFF`;

  let boxShadowSm = createShadow();
  let boxShadowMd = createShadow();
  let boxShadowLg = createShadow();

  $: {
    for (let i = 0; i < SMALL_STARS; i++) {
      boxShadowSm += `, ${createShadow(screenWidth, screenHeight)}`;

      if (i < MED_STARS) {
        boxShadowMd += `, ${createShadow(screenWidth, screenHeight, 2)}`;
      }

      if (i < BIG_STARS) {
        boxShadowLg += `, ${createShadow(screenWidth, screenHeight, 2)}`;
      }
    }
  }
</script>

<!-- position must be set here otherwise it will add position: relative automatically to work with bind clientHeight/width-->
<div
  class="container"
  bind:clientHeight={screenHeight}
  bind:clientWidth={screenWidth}
  style="position:absolute;"
>
  <div class="stars" style="--box-shadow-sm: {boxShadowSm};" />
  <div class="stars2" style="--box-shadow-md: {boxShadowMd};" />
  <div class="stars3" style="--box-shadow-lg: {boxShadowLg};" />
</div>

<style lang="scss">
  .container {
    width: 99vw;
    height: 99vh;
    top: 0;
    left: 0;
    background: radial-gradient(ellipse at center, #1b2735 0%, #090a0f 70%);
    overflow: hidden;
  }

  @mixin stars($size, $time, $box-shadow) {
    width: $size;
    height: $size;
    background: transparent;
    animation: animStar $time linear infinite;
    box-shadow: $box-shadow;

    &::after {
      content: "";
      position: absolute;
      top: 100vh;
      width: $size;
      height: $size;
      background: transparent;
      box-shadow: $box-shadow;
    }
  }

  .stars {
    @include stars($size: 1px, $time: 50s, $box-shadow: var(--box-shadow-sm));
  }

  .stars2 {
    @include stars($size: 2px, $time: 100s, $box-shadow: var(--box-shadow-md));
  }

  .stars3 {
    @include stars($size: 3px, $time: 150s, $box-shadow: var(--box-shadow-lg));
  }

  @keyframes animStar {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-100vh);
    }
  }
</style>
