<script>
  import { fly } from "svelte/transition";
  import { createEventDispatcher } from "svelte";

  import { copyTextToClipboard } from "../../utils/copyToClipboard";
  import Modal from "../../utils/Modal.svelte";

  const dispatch = createEventDispatcher();

  export let link;
  export let isCopy = false;
  export let distance = 400;
  export let size = 64;
  export let title = "";

  let showModal = false;

  function onClick() {
    if (isCopy) {
      copyTextToClipboard(link);
      showModal = !showModal;
      return;
    }
    window.open(link, "_blank");
  }

  function onIntroEnd() {
    dispatch("animationDone");
  }
</script>

<div>
  {#if isCopy}
    <Modal bind:showModal {size}>Email copied, let's talk soon! 😁</Modal>
  {/if}
  <button
    class="media-button"
    on:click={onClick}
    transition:fly={{ y: distance, duration: 500 }}
    on:introend={onIntroEnd}
    style="width: {size}px; height: {size}px"
    {title}
  >
    <slot />
  </button>
</div>

<style lang="scss">
  @use "../../global";

  $color: global.$secondary;

  .media-button {
    border-radius: 100%;
    cursor: pointer;
    box-sizing: border-box;
    background-color: transparent;
    border-width: 3px;
    border-color: $color;
    stroke: $color;
    fill: $color;
    z-index: 10;
    position: relative;
  }
  .underlay {
    position: absolute;
    background-color: antiquewhite;
    border-radius: 64px;
    right: 0;
    z-index: 9;
  }
</style>
