<script>
  import { SKILLS } from "../../constants";
</script>

<main>
  <h2>Skills</h2>
  <div class="skills">
    {#each SKILLS as skill}
      <div class="skill">
        {skill}
      </div>
    {/each}
  </div>
</main>

<style lang="scss">
  @use "src/global";

  h2 {
    color: global.$primary;
    font-weight: 100;
    font-size: 3rem;
  }

  main {
    background: white;
    padding-bottom: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
  }

  .skills {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    margin: 0 25%;

    .skill {
      background-color: whitesmoke;
      color: global.$secondary;
      padding: 8px;
      border-radius: 3px;
    }
  }
</style>
