<script>
  import { spring } from "svelte/motion";
  import getPrefersReducedMotion from "./getPrefersReducedMotion";

  const canAnimate = !getPrefersReducedMotion();
  let isActive = false;
  export let scaleAmount = 0;

  const scale = spring(1, {
    stiffness: 0.1,
    damping: 0.15,
  });

  $: scale.set(isActive && canAnimate ? scaleAmount : 1);

  $: style = `transform: scale(${$scale});`;

  function triggerGrow() {
    isActive = true;
  }
</script>

<span
  on:mouseenter={triggerGrow}
  on:mouseleave={() => (isActive = false)}
  on:click={triggerGrow}
  {style}
  title="View project"
>
  <slot />
</span>
