<script>
  import { onDestroy } from "svelte";
  import { fly } from "svelte/transition";

  const FIVE_SECONDS = 5000;
  const OFFSET = 256;

  export let showModal = false;
  export let size;

  const close = () => {
    showModal = false;
  };

  let w;

  const previously_focused =
    typeof document !== "undefined" && document.activeElement;

  if (previously_focused) {
    onDestroy(() => {
      previously_focused.focus();
    });
  }

  $: {
    if (showModal) {
      setTimeout(() => {
        showModal = false;
      }, FIVE_SECONDS);
    }
  }
</script>

{#if showModal}
  <div
    class="modal"
    role="dialog"
    aria-modal="true"
    bind:clientWidth={w}
    transition:fly={{ x: -(OFFSET + w + 1), duration: 500 }}
    style="margin-top: {size / 8}px"
  >
    <div>
      <slot />
    </div>
    <button on:click={close} aria-label="close popup">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="black"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M6 18L18 6M6 6l12 12"
        />
      </svg>
    </button>
  </div>
{/if}

<style lang="scss">
  @use "../global";

  $button-size: 24px;

  .modal {
    position: absolute;
    background: global.$secondary-light;
    left: 80px;
    border-radius: 64px;
    height: 3rem;
    width: max-content;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    font-family: "M PLUS 2", sans-serif;
    z-index: 8;
  }

  button {
    padding: 0;
    width: $button-size;
    height: $button-size;
    cursor: pointer;
    border-radius: 100%;
    margin: 0 0 0 8px;
    border: none;
    background-color: transparent;
  }
</style>
