<script lang="ts">
  import ProjectItem from "./components/ProjectItem/ProjectItem.svelte";
  import MediaLink from "./components/MediaButtons/MediaLink.svelte";
  import type { IProjectConfig } from "./projectsConfig.d";
  import { EMAIL_LINK, GITHUB_LINK, LINKEDIN_LINK } from "./constants";
  import SplashScreen from "./components/SplashScreen/SplashScreen.svelte";
  import { fade } from "svelte/transition";
  import Skills from "./components/SkillsPage/Skills.svelte";

  const FIVE_SECONDS = 5000;

  export let projects: IProjectConfig[];

  let scrollY;
  let clientHeight = 0;

  let showModal = false;
  let showScroll = true;
  let showMediaLink = false;

  const setModal = (isClose: boolean) => () => {
    showModal = isClose;
  };

  $: {
    if (!showModal) {
      setTimeout(() => {
        showModal = false;
      }, FIVE_SECONDS);
    }
  }

  $: showScroll = scrollY < 5;
  $: showMediaLink = scrollY > clientHeight / 2;
</script>

<svelte:window bind:scrollY />

<main>
  <div class="header" bind:clientHeight>
    <div class="intro">
      <h1>Welcome!</h1>
      <div class="sub-intro">
        <h3>
          My name is Jonathan Wong and I’m a passionate developer who wants to
          create exciting and engaging experiences for the web!
        </h3>
        <div class="links">
          <a href="mailto: {EMAIL_LINK}">{EMAIL_LINK}</a> —
          <a href="resources/Jonathan Wong Resume.pdf" target="_blank">Resume</a
          >
          — <a href={LINKEDIN_LINK} target="_blank">LinkedIn</a> —
          <a href={GITHUB_LINK} target="_blank">Github</a>
        </div>
      </div>
    </div>
    <img src="images/LinkedinPhoto.jpg" alt="Jonathan Wong" />
    {#if showScroll}
      <div class="scroll-down" in:fade out:fade={{ duration: 200 }}>
        <div>Scroll for more</div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M19 9l-7 7-7-7"
          />
        </svg>
      </div>
    {/if}
  </div>
  <div class="content">
    <h2>Projects:</h2>
    <div class="projects-list">
      {#each projects as project}
        <ProjectItem props={project} />
      {/each}
    </div>
  </div>
  <Skills />
  {#if showMediaLink}
    <MediaLink on:copy={setModal(true)} />
  {/if}
</main>
<SplashScreen />

<style lang="scss">
  @use "global";

  @import url("https://fonts.googleapis.com/css2?family=M+PLUS+2&family=Oswald:wght@300;400;700&display=swap");

  $image-size: 256px;

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "M PLUS 2", sans-serif;
    font-weight: 300;
    background-color: transparent;
    position: relative;
    overflow-x: hidden;
    z-index: 10;
  }

  h1 {
    color: global.$primary;
    font-weight: 100;
    font-size: 4rem;
  }

  h2 {
    color: global.$primary;
    font-weight: 100;
    font-size: 3rem;
  }

  h3 {
    font-size: large;
  }

  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    height: 100vh;
    color: white;

    @media screen and (max-width: global.$phone) {
      flex-direction: column;
    }

    .intro {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    .sub-intro {
      max-width: 30rem;
      font-size: larger;
    }

    .links {
      font-size: medium;
      a {
        color: global.$secondary;
      }
    }

    img {
      width: $image-size;
      height: $image-size;
      border-radius: 100%;
    }

    .scroll-down {
      position: fixed;
      bottom: 0%;
      display: flex;
      flex-direction: column;
      align-items: center;
      svg {
        width: 64px;
        height: 64px;
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: black;
    background: linear-gradient(180deg, black 0%, #1b2735 100%);
    box-shadow: 0 -16px 16px black;
    padding-bottom: 6rem;
    color: white;
  }

  .projects-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
</style>
